*{
    margin: 0px;
    padding: 0px;
    
  }   
      
  #logo{
    width: 300px;
    height:300px;
    margin-left: 37vw;   
    max-width: 100%;
    max-height: 100%;
    


  }
  table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: #000000 2px 2px;
  
}
 
td{
  background-color: #6d886ec7;
  
 }

table th {
  
  text-align: center;
  background-color: #129e15e3;
  color: white;
}

body {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./imagens\bg_gradiente_estadio_palmeiras.png");
  
 
  
}

footer{
background-color: #ddd;
text-align: center;
}

.tecnico, .artilheiros, ol, ul{
text-align:center;
}

.tecnico, .artilheiros{
color: white;
text-shadow:  black 2px 2px;
}

.tamanho{
width: 56px;
}